In [ ]:
ECE -> Education Credential equivalent
FIS -> Foundation for international service
IQAS -> Qualification Assessment Service  -> for Canada 

1 ECTS = 25 hours
to complete course want 2250

# Class_01 Introduction

In [ ]:
# Anaconda Distribution
# Jupyter notebook
# High Level and low level language
# why python ?
# Translator
# compiler vs interpreter
# How python program runs?

#### Shortcut-Keys in Anaconda

In [ ]:
1) Control + /   --> Hastag every line of code by selecting them
2) To execute/run the cell   ---> Sift + enter or Contrl+enter
3) To execute above cell   ---> Press "a" in command mode
4) To execute below cell   ---> Press "b" in command mode
5) multiple cell delete  ---> press "x" or press "dd"
6) select multiple cell then delete  ---> press "x"
7) To undo in operation --> press "z"
8) convert code to markdown ---> press "m"
9) convert markdown to code   --> press "y"
10) shortcut key ---> press "h"

In [ ]:
- Anaconda distribution is a package distribution platform
- It provides many python libraries (package) under one umbrella

## Jupyter Notebook

In [ ]:
# It is a browser based IDE
# IDE - Integrated Development Environment
# An IDE is an interface between the user and the system.
# Python ide - Jupyter Notebook, Pycharm etc

### Edit mode

- we allowed to write the code

### Command Mode

- We ar not allowed to write the code
- from edit to command -> Press esc key
- from command to edit -> Press enter

### Two types of cells

- Input cell
- output cell

In [ ]:
outside number is execution

In [ ]:
#--> when we use print then we get the answer in console
n = "aname"
print(n)

In [ ]:
code editor - only pythone code is allowed 
text editor - Markdown (we can write code)

->  bold

**Hii every one**

-> Italic

*hii evryone*

-> Both bold and Italic

##### hii not

## What is programming language / computer language

- The language we use to communicate with the computer.

- A programming language is a set of some keywords  and charachter that are used according to some rules known as syntax.

## learn Programming language (Python)

- 1) Keywords
- 2) charachterset
- 3) syntax

A programming language is used to created a software.

### Types of programming language

- 1) High level language
- 2) Low level language

#### High programming language

- this can easily learn and understand
- They are user friendly
- The code is write in simple language in english
##### Example :- Python, Java, R, C, PHP etc

#### Low level language

- Therse are machine frendly language
- The code can not be easily understood
- The code is written in Binanry Digit (0,1)

##### example - Machine language / Binary language

### Translator

- It is software that converts a high level language code into machine language and vise versa

## Types of translator

1) Compiler 
- it reads the whole source code first and then it converts machine code all together.

2) Interpreter
- It reads and convert the code line by line
- It reads and convert one line at a time


## compiled language

-> the language that use compiler as their transalter are the complied language

ex :- java

## Interpreter language

-> The language that use interpreter as theri translater are the interpreted language

ex :- python

In [ ]:
## byte code is intermediate code

source code    ---  complier  --- byte code(intermediate code)  --- interpreter  --- Machine code

### Source code

- The code that we write as a programmer is known as source code
- the extension of python source code is ".py"

### Intermediate code(byte code)

- Once we exceute a python source code then complier comes into picture.
- It reads the whole source code and if no error is found then it converts into bytes.
- If complier catches any error in the source code then it does not convert the source code into Bytecode.
- In this case we dont get any output
- The exetension is .pyc

### Machine code

- Once the bytecode is generated then interpreter comes into picture.
- It reads and convert sthe bytecode into machine codeline by line
- It reads and convert one line at a time.
- If it catches any error then it stops execution.
- In this case we get partial output.

## Type of error
- 1) Compiletime error
- 2) Runtime error

### Compiletime error
- The error that occur at the time of compilation are known as compiletime errors.
- Compiler is responsible to catch the compiletime error.

Example :- Syntax error, Indentation Error

In [ ]:
print("henry")
print("ji")
print('lo'
print('hii')   ## byte code not generated in compiltime

### Runtime error

- The error that occurs at run time ( at the time of execution) are konown as Runtime Error
- Interpreter is responsible to catch the runtime error

example :- Name error, value error, Type error etc

In [ ]:
print("henry")
print("ji")
a
print('hii')   ## Name error starting two execute

In [ ]:
## Asssemble - Assembler - Minemonies (not use intermediate code)

# Class_02 Introduction 2

### Why Python ? 

- It is easy to use
- It has n number of libraries

In [ ]:
# Advance Linear algrbraic operation
# Advanced Statistical algorithm
# Data Modelling

In [ ]:
Values :- Number (whole number, decimal number), text ,other

### Types of Datatypes
- 1) Basic Datatype
- 2) derived Datatype

#### Basic Datatypes

#### 1) Integer

In [ ]:
- The whole number either positive or negative
- Any number either positive, negative or zero without a decimal point is an int value

In [ ]:
a = 5
print(a)

In [ ]:
a = -1
print(a)
print(type(a))

#### 2) float

In [ ]:
## Any number wheather +ve, -ve or zero with a decimal is a float value`

In [ ]:
a = 5.5
print(a)
print(type(a))

#### 3) Complex

In [ ]:
# - Any number in the form of obj is a complex value.
# - Here is "a" is cinsidered to be real number and "i" is imaginary number.
# - A complex number is used to represent a very big Float value. -->

In [ ]:
a = 2+5j
print(a)
print(type(a))

In [ ]:
## abs() - It truns into the absoute value

In [ ]:
print(abs(a))

In [ ]:
## Imaginary part

print(a.imag)

In [ ]:
## real number

print(a.real)

In [ ]:
a = 6j
print(type(a))

#### 4) String

In [ ]:
# Anything inside this  '',"",'''''' is a string value

In [ ]:
a = 'absce'
print(a)
print(type(a))

In [ ]:
b = '''My name is Rohan he wantes to play cricket but his mom dont want him to play but he requires to play
       but his dad want him to play'''
print(b)
print(type(b))

In [ ]:
 a = """hii esnt more
    get be 'p"""
print(a)

#### 4) Boolean value

In [ ]:
True or False are the boolean value

In [ ]:
a = True
print(a)
print(type(a))

#### 5) Nontype
- None is NoneType
- None is used to represent the null values or missing values

In [ ]:
a = None
print(type(a))

## Derived Datatypes

- These are the data structure that are used to store a multiple values ins aspecific manner

In [ ]:
a = 4
a = 6
print(a)

In [ ]:
a,b,x,d = 4,5,8,9
print(a,b,x,d)

### 1) LIST

In [ ]:
Anything which inside a Square bracket "[]"
- A lsit may have multiple element, In each element is sperated by comma.
- A list may have heterogenous(elements of different types) value.

In [ ]:
a = [10,20,3,1]
print(a)

In [ ]:
b = ["hii",10,2.5,2+5j]
print(b)
print(type(b))

### 2) Tuple

In [ ]:
# Anything inside the "()" is tuple
- A tuple may contain multiple element
- In tuple each element is spearted by comma, it is also heterogenous.

In [ ]:
a = (4,5,6,7)
print(a)
print(type(a))

In [ ]:
b = ("hii",10,2.5,2+5j)
print(b)
print(type(b))

### 3) Dictionary - dict

In [ ]:
# It is collection key and value pair -> key:value inside "{}"
- Each key value pair separated by comma.

In [ ]:
a = {"lo":"hi","li":[1,2]}
print(a)
print(type(a))
print(a.keys)
print(a.values)
print(a.items)

### 4) Set

In [ ]:
# anything inside the "{}" is a set.
- It doesnt contain duplicate value and each value is separated by comma,
- A set return value in random

In [ ]:
l = {1,2,1,4,5}
print(l)
print(type(l))

In [ ]:
## Hashable value :- int, float, complex, tuple, frozenset, string, boolean , none

## unhashable value :- list , dict, set

--> we cannot pass one in one means -> in list type we cant pass inside same list.

In [ ]:
a = {'Aditya',"Ganeshree","suresh","suresh"}
print(a,type(a))

### 5) Frozenset

In [ ]:
- When we pass an iterable inside the frozenset() then it returns the frozenset
- The frozenset object contains a set of element
- In a frozenset each element is separated by comma
- it does not allow duplicate value, it always return unique values.
- The iterable which we pass inside the frozenset

In [ ]:
## Iterable :- which can be loop
-> string, list, tuple, set, Dictionary, Frozenset, Range

## non Iterable :- int, float, complex, bool, none

In [ ]:
a = "12"
print(a)
p = frozenset(a)
print(p)

In [ ]:
l = {"ko","lo","ki"}
print(l)
f = frozenset(l)
print(f)

### 6)Range

In [ ]:
->  range() :- it represent a range object.
- It is used to create a sequence of integer number

In [ ]:
## syntax
- > range (start,stop, stepsize)
- Stepsize is 1 by default

## elaborate
start -> starting value
stop -> stop value and last value is excluded
stepsize -> difference

In [ ]:
# range
- 0 will be the default start
- 1 will be the default step

In [ ]:
j = range(1,10,2)
print(j, type(j))

In [ ]:
# to get range passsed in any datatype

list(range(1,10,2))

In [ ]:
## create 5,4,3,2,1,-1,-2,-3,-4

list(range(5,-5,-1))

In [ ]:
list(range(10,1,-2))

### Variable and constants or names and values

In [ ]:
variable(name) :- It is container that contains a value.
Constant(value) :- It is value that are variable name

In [ ]:
a = 5

a -> variable
5 -> value

In [ ]:
a = "5"
b = "5"
print(id(a))
print(id(b))

### Keywords and identifiers

In [ ]:
## identifiers
Identifiers :- these are the names that we use for reference (to refer an object)
1) variable, 2) Function_name, 3) Class_name, 4) File_object_name, 5) Module_name

## Keywords
- Keywords are the reserve words and they are used for some specific purpose
- keywords can not be identifiers
example: -True ,False, as, is, in etc

In [ ]:
import keyword
print(keyword.kwlist)

### Comments in Python

In [ ]:
a = 10
b = 5
c = a**b
#d = a/b
e = a-b
f = a%b
print(c,d,e,f)
print("thanks")

### Typecasting

In [ ]:
- Changing the type of value is known as Typecasting
- In python there are several function that facilates in type casting

In [ ]:
## list - Tuple
# int - Float
# float - int
# str - int
# int - complex
# complex - bool

In [ ]:
a = "12"
print(int(a))

In [ ]:
a = "5.0"
print(float(a))

In [ ]:
a = "50"
print(int(a))
print(a*int(a))
print(int(a)-int(a))

## Float function

- It typecast a float value
- It return a float value

In [ ]:
a = 5
print(a,type(a))

b = float(a)
print(b,type(b))

In [ ]:
c = '2.8'
int(c)  # direct we cant convert

In [ ]:
c = '2.8'
print(int(float(c)))

## String -str()

- It typcast to a string
- It return a string value

In [ ]:
a = [1,2,3,40]
print(a,type(a))

In [ ]:
str(a)

In [ ]:
codes=[1,2,3,4]
for i in codes:
    print('emp_'+str(i))

## Complex - complex()

In [ ]:
- It typecast to a complex value
- it returns a complex value

In [ ]:
## complex(a,b)

# a -> will be the real number
# 0 -> imaginary number

In [ ]:
a = complex(2,5)
print(a,type(a))

In [ ]:
a = complex(-1)
print(a)

## boolean ()

- It typecast to boolean value (True/ False)
- It return a boolean value

In [ ]:
## int -> 0 is False ,rest 1 to infinity -> True

## float -> 0.0 is False, rest True

## complex ---> if all combination is 0 -> false, rest anything  -> true

## String --> '','''''' , "u" empty string is fasle, rest is True

## None -> it always False

## List :- empty list always false else True

## tuple -> () is false else True

## set -> {} is False else true

## Dict -> {} is false else true

## frozenset -> frozenset() or frozenset(empty_iterable) is false or else True

## Range -> range(0,0) is false else True

In [ ]:
print(bool(1568))
print(bool(-1))
print(bool(0))
print(bool(0.0000))

In [ ]:
print(bool(0+0j))
print(bool(0+1j))
print(bool(1+0j))

In [ ]:
print(bool(''''''))
print(bool("''"))
print(bool(' '))

In [ ]:
len("''''''")  -> 6 value

In [ ]:
print(bool([''""]))
print(bool([[]]))

In [ ]:
# tuple

print(bool())
print(bool("''"))
print(bool((())))

In [ ]:
print(type((2)))
print(type((2,)))

In [ ]:
 print(bool(frozenset()))
print(bool(frozenset([])))
print(bool(frozenset({})))
print(bool(frozenset({0})))
print(bool(frozenset([1])))

In [ ]:
print(bool(range(0)))
print(bool(list((range(0)))))

## List

In [ ]:
- It takes an iterable as an input and return a list.
- It typecast any iterable into a list

In [ ]:
Iterable -> String, List, Tuple, Dictionary, Set, frozenset, Range
non - iterable ->  int, float, complex, bool, None

In [ ]:
l = "lopk"
print(l,type(l))

In [ ]:
a = {"Name":'hiom',"hi":"lo"}
print(type(a))
print(a.keys())
print(a.values())

In [ ]:
## after converting it provide only key
a = list(a)
print(a)

In [ ]:
## set

a = {10,12,12,145,154}
print(list(a))

In [ ]:
f = frozenset(["hii","ksi"])
print(f)

In [ ]:
b = list(f)
print(b)

In [ ]:
## Tuple()
-It is typecast to a tuple

In [ ]:
y = "python"
print(y)
tuple(y)

In [ ]:
## Set()
- It is typecast to be set

In [ ]:
y = "ko"
b = set(y)
print(b)

In [ ]:
## Dict()

- It takes iterable as input.  -> iterable []
- The iterable that we pass inside the dict() must have one more iterbale inside it.
- The inner iterable must have the teo element: first -> key and second -> Value

In [ ]:
a = [[1,2]]
b = dict(a)
print(b)

In [ ]:
a = [("hii","lo"),("ko","lo")]
b = dict(a)
print(a)

In [ ]:
a = (("namw","ko"),)
dict(a)

In [ ]:
(()) -> one tuple

## Class 4 input_output(operator)

### Input Function
- The function that we use to take the input from the user at the run time are known as input function

##### Intialisation :- Assigning some value to a variable.

In [ ]:
a = s # initaialisation

### Intialisation has two types

In [ ]:
- 1) Static Initialization
- 2) Dynamic Initialization

In [ ]:
## Static Initilization

- When we assigning some value to a variable while writing the program (before execution).

In [ ]:
print("hello")

a = 5     #Static Initialization 
b = 2     #Static Initialization

c = a**b
print(c)

In [ ]:
## Dynamic Initialization

- when we assign some value to varibale at run time(after execution)
- For dynamic initialization we have to use input function.

## input()

In [ ]:
- input() takes the input from the user at run time.
- input() always return a string value.

In [ ]:
write a program that takes two number from the user and give the multiplication.

In [ ]:
synatx -
input("message")

In [ ]:
a = int(input("enter the number:-"))
print(a,type(a))

In [ ]:
b = int(input("enter the number:- "))
print(b)

In [ ]:
a*b

In [ ]:
bool('0')

## eval()

- It takes a string as an input and it evaluates the type of the value inside the string.

In [ ]:
# Syntax - eval('value')

In [ ]:
a = eval('5')
print(a,type(a))

In [ ]:
b = eval('2.35')
print(b,type(b))

In [ ]:
e = "kio"
c = eval("e")
print(c,type(c))

In [ ]:
## for string

x = eval('"lop"')
print(x)

In [ ]:
a = eval('[1,2,3]')
print(a,type(a))

In [ ]:
d = eval('{1,2,3}')
print(d,type(d))

In [ ]:
e = eval('frozenset(str(1))')
print(e)

## output Function

- Output function are used to print the output on the console (output screen)

In [ ]:
## print()

- Print () is an output function
- print() prints the output on the output screen.

In [ ]:
## syntax

print("message")

In [ ]:
a = 3+7j
print(a,type(a))

In [ ]:
## Q1. write a program where that takes name of the user as input and prints - my name is

In [ ]:
a = input("enter the name:-")
print('my name is',a)

In [ ]:
## first method
a = input("enter the name:-")
b = input("enter your friend name:- ")
print("my name is {0} and my friends's name is {1}".format(a,b))

In [ ]:
## Second method
a = input("enter the name:-")
b = input("enter your friend name:- ")
print(f"my name is {a} and my friends's name is {b}")

In [ ]:
## Third method
a = input("enter the name:-")
b = input("enter your friend name:- ")
print("my name is '%s'%a and my friends's name is '%s'%b")

## Format Specifiers

In [ ]:
1) '%d' -> int
2) '%.2f' -> float
3) '%s'   -> string

In [ ]:
a = 2.5
print('%.1f'%a)

In [ ]:
## sep :- multiple values in single
a = "hii"
b = "today"
c = "wehlome"

print(a,b,c,sep='\n')

In [ ]:
## end :- multiple values in print statement
a = "hii"
b = "today"
c = "wehlome"

print(a,b,c,end='+')

# Operators

In [ ]:
- These are some specific character use to perform some specific preparation on operands(values)

In [ ]:
1) Arithmetic Operator
2) assignment operator
3) Comparison operator
4) Equality operator
5) Membership OPeartor
6) Identity Operator
7) Bitwise Opeartor
8) Termary operator
9) Comparison Operator

### Arithmetic Operator

- these operator are used to perform some arithmetic operation.

In [ ]:
+ -> addition
- -> Subtraction
* -> Multiplication
/ -> Division
// -> floor division
% -> Modulo operator (remainder after division)
** -> power(exponent)  :- it precedence to take highest value first

In [ ]:
## precedence

exponent -> division -> multiplication -> addition/subtraction

In [1]:
## it solve like bodmass

5**3/5+6*3

43.0

In [ ]:
a = 5
b = 8
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

In [ ]:
## floor division

a = 7
b = 2
print(a//b)
print(a%b)

In [ ]:
a = 2
b = 8
print(a//b)
print(a%b) ## small number if remainder not remain

In [ ]:
## floor value
## cell value

In [ ]:
## floor value
2.5

it came betwwen 2 and  3
2 -> floor value
3 -> cell value

In [ ]:
## import

import math
math.floor(2.5)

In [ ]:
math.ceil(2.5)

In [ ]:
## round(float_value)
- it rounds up the value

In [ ]:
a = 2.4
print(round(a))

In [ ]:
a = 2.56874985235565
print(round(a))

In [ ]:
print(round(a,5))

In [ ]:
## squareroot

3**4

In [ ]:
5**5**5

## Logical operator

In [ ]:
- these operator are used to perform logical operation.
- These operators follow the truth table.

In [ ]:
## and
## or
## not

In [ ]:
## and

- it looks for the false value
- As soon as it gets false it return false
-[True and True is True else False]

In [4]:
print(True and False)
print(True and True)
print(False and False)

False
True
False

In [11]:
print(2 and 5)  ## left first
print(10 and 2)
print(5 and 1)

5
2
1

In [13]:
round(9.55,2)

9.55

In [ ]:
## or

- It looks for the True value
- As soon as it gets True, it return True
- If there is no True then it return the last false

In [16]:
## or

print(True or False)
print(True or True)
print(False or False)

print(2 or 5)   # right side first
print("hii" or 5)

True
True
False
2
hii

In [ ]:
## not

- It return viseversa
- It is a unary operator as it works upon a single operand.

In [19]:
## not

print(not False and True)
print(not True)
print(not False)

print(not 2 and 5)

True
False
True
False

## Comparison Operator

In [ ]:
- These separators compares two values and retruns a boolean value

In [ ]:
< -> less than
> -> greater then
>= -> greater then equal to
<= -> less  then equal to

In [1]:
print(5<6)

True

In [2]:
print(-6<-5)

True

In [3]:
print(5<=6)   #it consider the two less then or equal to

True

In [4]:
print(6>=5)

True

In [ ]:
# in case of String value it compares the ASCII value.

In [ ]:
ASCII - American Standard Code for Information Interchange

In [5]:
## ASCII value

A - Z -> 65 to 90
a - z -> 97 to 122

False

In [6]:
print("x">"O")

True

In [ ]:
## To check The ASCII value

ord("charchter") -> it returns a particular value

In [7]:
ord("#")

35

In [8]:
ord("5")

53

In [9]:
print("Amit"<"Pushpa")  # It always check the first alaphabhet "A"<"P"

True

In [10]:
ord("A"),ord("P")

(65, 80)

In [ ]:
## special Charachter < digits < capital case letters < small case letters

In [11]:
print("#$"<"124")

True

## Equality operator

In [ ]:
- These operator check wheather the two value are equal or not :- ==,!= (It is case sensitive)
    
## Equal
when two values are qual to each other

## not equal
when two values are not qual to each other

In [12]:
print(5==6)

False

In [16]:
print("ki"!="ki")

False

## Assignment operator

In [ ]:
## equal 
- It is used to asssign the value to a variable

In [17]:
a = 5
print(a)

5

In [20]:
a = 8
b = 6
print(a==b) ## It will check the value of a with b
a=b  # it assign the value of b to a

False

In [21]:
a

6

## Membership Operator

In [ ]:
- these operator check wheather the value is part of container typr or not.
- these operator always return a boolean value.

# in , not in

In [ ]:
# in (case sensitive)

- if a value present in the container

In [ ]:
Container type :-  a multiple element part.

In [22]:
a = [1,2,1,4,2,6000,4]
print(5 in a)

False

In [ ]:
## not in (case sensitive)

- if a value not present in the container

In [24]:
listl = ["True","False",5+5j,2]
2 not in listl

False

In [26]:
f = frozenset([1,2,1,4,2])
print(f)

2 in f

frozenset({1, 2, 4})

True

## Identity operator

In [ ]:
- These operator check the memory address of the objects.
- these operators do not compare the values.

# is, is not

In [ ]:
# is

- If two objects have the same memory address then it return True else False

In [27]:
a = 10
b = 10

print(a is b)

True

In [31]:
print("hii" is "lhii")

False

#### Object reusability in python

- When both the value si same then object reusability is used, float not take the object reusability

In [ ]:
## object reusability 

int -> -5 to 256
String -> A to Z , a to z
Bool -> True / False 

It will make same ID


# float

It will make if same value different id for float.

In [ ]:
## program


a = 5                          free memory                  Bytecode          
b = 10                         App - 3                      a/970 , b/970     ---> variable
c = a+b                        test.py                      10/970, 10/970    ---> Heap area
print(c)                       App - 2
                                 os                                           ---> free memory

test.py                        RAM                          

## Garbage area

It found the area which is not use for variable then it remove from the area.

In [40]:
import gc    -> garbage collector
print(dir(gc))

['DEBUG_COLLECTABLE', 'DEBUG_LEAK', 'DEBUG_SAVEALL', 'DEBUG_STATS', 'DEBUG_UNCOLLECTABLE', '__doc__', '__loader__', '__name__', '__package__', '__spec__', 'callbacks', 'collect', 'disable', 'enable', 'freeze', 'garbage', 'get_count', 'get_debug', 'get_freeze_count', 'get_objects', 'get_referents', 'get_referrers', 'get_stats', 'get_threshold', 'is_finalized', 'is_tracked', 'isenabled', 'set_debug', 'set_threshold', 'unfreeze']

In [ ]:
int -> -5 to 256 follow the object reusability concept

str -> A-z, a-z follow the object reusability concept

float, complex amd any derived datatype do not follow the object reusability concept.

In [33]:
a = None
b = None

print(a is b)
print(id(a))
print(id(b))

True
140719289908440
140719289908440

In [34]:
## float

a = 2.8
b = 2.8

print(a is b)
print(id(a))
print(id(b))

False
2770719036656
2770719036944

In [ ]:
 ## is not
    
- if two objects have different memory not same

In [35]:
a = True
b = True

print(a is not b)

False

In [39]:
a = "henry,henry"
p = "henry,henry"
print(a==p)
print(a is p)

True
False

## Bitwise Operator

In [ ]:
- Bitwise operator are used for to perform operation on binary digits (bits)
- This operator can be used on integer values only.
- A only int values can be converted into binary digit.

## Steps

In [ ]:
- step_1 -> It converts the int values into binary digits(bits)
- step_2 -> It performs the operation bit by bit.
- Step_3 -> It converts the result into int value.

In [ ]:
1) & bitwise and
2) | bitwise or
3) ~ bitwise not
4) ^ bitwise xor
5) << bitwise leftshift
6) >> bitwise rightshift

### & bitwise and

In [ ]:
- 1 & 1 is 1 else 0
- It looks for 0.
- As soon as it gets 0, it will return 0.
- If there is no 0 then it will return 1

In [44]:
print(1 & 1)
print(0 & 1)
print(0 & 0)

1
0
0

In [16]:
78&25

8

In [17]:
bin(25)

'0b11001'

In [9]:
print(bin(36))
bin(78)

0b100100

'0b1001110'

In [4]:
1001110
11001
110011

0b100100

'0b1001110'

In [20]:
int(0b110011)

51

In [11]:
int(0b100100)

36

In [ ]:
   100100   (36 in binary)
 & 1001110  (78 in binary)
   -------
   100100    (Result)

In [21]:
int(0b10001)

17

In [23]:
36&74

0

In [ ]:
## Step_1 - Convert the int value into binary digit

In [47]:
bin(36)

'0b100100'

In [48]:
int(0b100100)   # starting 0b -> is manditary

36

In [50]:
# | bitwise or

- It looks for 1
- As soon as it gets 1, it will return 1
- If there is no 1 then it will return 0

4

In [54]:
print(1 |1)
print(1 |0)
print(0 |0)

1
1
0

In [55]:
bin(75)

'0b1001011'

In [56]:
bin(125)

'0b1111101'

In [ ]:
1001011
1111101
1111111

In [ ]:
# ~ bitwise not

- It looks for 1
# ~ num = -(num+1)

In [57]:
~-(45)   # -(-45+1)

44

###  ^ bitwise xor

In [ ]:
- Opposite digits give 1
- same digits give 0

In [59]:
print(1 ^ 1)
print(1 ^ 0)
print(0 ^ 1)

0
1
1

In [60]:
28 ^ 36

56

In [61]:
print(125 ^ 26)

103

### << bitwise leftshift

- number << number of bits

In [1]:
42 << 3

336

In [ ]:
# 8 bit system
# 32 bit system
# 64 bi system

In [ ]:
## Step 1 :- convert number into binary
## step 2 :- Represent it into 32  or 64 bit representation.
## Step 3:- Remove the specified number of bits from left side
## step 4:- Add same number of zero to right
## step 5:- Convert binary number into int

In [2]:
bin(42)

'0b101010'

In [3]:
## example

136 <<6

8704

In [4]:
bin(136)

'0b10001000'

In [9]:
int(0b10001000000000)   ##  add 6 on right as 136 << 6 (so 6 add on right)

8704

In [12]:
136 <<3

False

### Formula

In [ ]:
# num*2**number of bits to find the leftshift binary

In [13]:
45 << 3

360

In [14]:
45*2**3

360

### BItwise rightside

In [ ]:
## Step 1 :- convert number into binary
## step 2 :- Represent it into 32  or 64 bit representation.
## Step 3:- Remove the specified number of bits from left side
## step 4:- Add same number of zero to left side
## step 5:- Convert binary number into int

In [15]:
456 >>3

57

In [17]:
bin(456)

'0b111001000'

In [21]:
0b000111001

57

In [26]:
980 >> 6

15

In [27]:
bin(980)

'0b1111010100'

In [29]:
0b0000001111   ## Remove vale from right 6 and add on left 6

15

In [ ]:
## formula

# num//2** number of bits for rightside

In [30]:
980//2**6

15

## Compound Operator

In [ ]:
+=
-=
*=
/=
%=
**=
>>=
<<=

In [ ]:
# a+=b => a = a+b

In [31]:
a = 5
a = a+3
print(a)

8

In [32]:
a+=3
print(a)

11

In [33]:
#Make the cube of a and store the value in a itself
a = 5

a+=3
print(a)

8

In [35]:
a = 5
b = 2
a**=b
print(a)

25

In [41]:
a = [1,2,3,4,5,6]

While (x := len(a))>1:
        a.popitem()
        print(a)

SyntaxError: invalid syntax (478830108.py, line 3)

In [ ]:
## walrus operator

we assign value by both 

variable := + condition -->

## Ternary Operator

In [ ]:
It is said to be ternary as it works upon 3 operands.

In [ ]:
## expression_1 if condition else expression_2

In [ ]:
- First of all the condition is checked.
- If the condition holds True then expression_1 gets executed.
- If the condition holds False then expression_2 gets executed

In [ ]:
#Q1 Take a number and check wheather it ie even or odd using ternary operator

In [45]:
num = int(input("enter the number :-"))
print("even") if num%2==0 else print("odd")

enter the number :-46
even

In [ ]:
## multiple ternary

expression_1 if condition1 else expression_2 if condition2 else exp_3

In [50]:
a = 5
b = 5

# first statement is true after thet else is false

print("a is greater") if a>b else print("less then b") if a<b else print("q ia equal")

q ia equal

### Operator Precedence

In [ ]:
## Arithmetic
## Terniary Operator
## Comparison
## Logical

In [ ]:
1) Parentheses ()
2) Exponentiation **
3) Unary plus +, Unary minus -, Bitwise NOT ~
4) Multiplication *, Division /, Floor division //, Modulus %
5) Addition +, Subtraction -
6) Bitwise left shift <<, Bitwise right shift >>
7) Bitwise AND &
8) Bitwise XOR ^
9) Bitwise OR |
10) Comparison operators (<, <=, >, >=, ==, !=)
11) Identity operators (is, is not)
12) Membership operators (in, not in)
13) Logical NOT not
14) Logical AND and
15) Logical OR or
16) Conditional expression if-else

In [52]:
## example

45/3 and 7+5

12

In [56]:
5**2*(3+6)<<4*2-7

450

In [57]:
## elaborate above question
25*(9)<<8-7
25*9
225<<1
bin(225)
0b111000010

450

In [64]:
(6-4) or (3+2)*9**3//4 <<2>20

2

In [68]:
2 or 5*9**3//4<<2>20
2 or 5*729//4<<2>20
2 or 3645//4<<2> 20
2 or 911.25<<2>20
2 or 3644 >20
2 or True

2

In [65]:
bin(911)

'0b1110001111'

In [66]:
0b111000111100

3644

## Contents

In [ ]:
## Study stucture
# String
# Memory management
# Conditional statement
# loops
# List
# Tuple
# Dictionary
# Set
# Frozenset
# Functions
# Modules
# File Handling
# Expection handling
# Regrex
# Libraries ( Numpy, Pandas, etc)
# OOPS ( Clas, object, heritance)
# Case Studies

### bitwise Operator

In [1]:
bin(65)

'0b1000001'

In [ ]:
## how to find the binary element
1) first need to divide the element by 2

65/2  -> 1 (reminder)
32/2  -> 0 (no remainder)
16/2  -> 0 (no remainder)
8/2   -> 0 (no remainder)
4/2   -> 0 (no remainder)
2/2   -> 0 (no remainder)
1     -> 1 (remainder)

0b1000001

In [ ]:
For '1': (0 * 2) + 1 = 1
For '0': (1 * 2) + 0 = 2
For '0': (2 * 2) + 0 = 4
For '0': (4 * 2) + 0 = 8
For '0': (8 * 2) + 0 = 16
For '0': (16 * 2) + 0 = 32
For '1': (32 * 2) + 1 = 65